body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}

.container {
    margin: 15px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#b1 {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

#b1:hover {
    background-color: #0056b3;
}

#compteur {
    font-weight: bold;
    color: #007bff;
    font-size: 25px;
}
